<p>Dear {{ organization_name }},</p>

<p>I hope this email finds you well.</p>

<p>
Please find attached invoice
<strong>INV-{{ short_id }}</strong>
for the service(s) provided.
</p>

<p>
<strong>Invoice Summary</strong>
</p>

<ul>
  <li>
    <strong>Invoice Number:</strong>
    INV-{{ short_id }}
  </li>

  <li>
    <strong>Due Date:</strong>
    {{ due_date }}
  </li>

  <li>
    <strong>Amount Due:</strong>
    ${{ amount }} USD
  </li>
</ul>

<p>
<strong>Payment Terms:</strong><br>
Please process the payment by the due date via bank transfer or check provided in the invoice.
If you have any questions or require modifications, feel free to reply directly to <strong>auribe@teknowsolutions.com.</strong>
</p>

<p>
Thank you for your business!
</p>

<p>
Best regards,<br>
Teknowsolutions LLC
</p>